<font size="+3"><strong>Python: Getting Started</strong></font>

# Simple Calculations

In addition to all the more complex things you can do in Python, it is also useful for completing simple mathematical operations.

**Addition and Subtraction**

Add numbers together like this:

In [3]:
1 + 1

2

Notice that you don't need to include `=` in order to make the operation work.

Subtract numbers like this:

In [4]:
2 - 1

1

**Division**

Divide numbers like this:

In [5]:
4 / 2

2.0

Remember that Python will return an error if you try to divide by 0!

**Modulo Division**

Perform modulo division like this:

In [6]:
5 % 2

1

**Multiplication**

Multiply numbers like this:

In [7]:
4 * 2

8

Add **exponents** to numbers like this:

In [8]:
4**2

16

## Order of Operations
Just like everywhere else, Python works on a specific order of operations. That order is:

Parentheses Exponents Multiplication Addition Subtraction

If you remember being taught PEMDAS, then this is the same thing! All the operations in Python work with levels of parentheses, so if you wanted to add two numbers together, and then add another number to the result, the code would look like this:

In [9]:
(6 + 4) + 4

14

Things get more complicated when we add more terms to the equation, but the principle remains the same: if you open a set of parentheses, make sure you close it too. Here's an example that uses all the PEMDAS possibilities:

In [10]:
(((5**3 + 7) * 4) / 16 + 9 - 2)

40.0

# Data Types


There are lots of different types of data in the world, and Python groups that data into several categories.

**Boolean** (`bool`)**:** 
- Any data which can be expressed as either `True` or `False`.
- Used when comparing two values. For example, if you enter `10 > 9`, Python will return `True`.

**String** (`str`)**:**

- Data that involves text â€” either letters, numbers, or special characters. 
- Strings are enclosed in either single- or double-quotation marks: `"string-1"` or `'string-2'`.

**Numeric** (`int`, `float`, `complex`)**:**

- Data that can be expressed numerically.
- An integer, or `int`, is a whole number, positive or negative, without decimals, of unlimited length:  `123`.
- A floating-point number, or `float`, is a number, positive or negative, containing one or more decimals: `123.01`.
- A complex number, or `complex`, are imaginary numbers, designated by a `j`: `(3 + 6j)`.

**Sequence** (`list`, `tuple`, `set`)**:**

- Data that is a collection of discrete items.
- A `list` is collection that is ordered and changeable. It's designated using square brackets `[]`, and items can be of different data types: `["red", 1, 1.03, 1]`.
- A `tuple` is a collection which is ordered and unchangeable. It's designated using parentheses `()`: `("red", 1, 1.03, 1)`.
- A `set` is a collection which is unordered, unchangeable, and does not permit duplicate items. It's designated using curly brackets `{}`: `{"red", 1, 1.03}`.

**Mapping** (`dict`)**:** 
- Dictionaries store data in *key-value* pairs. They're designated using curly brackets `{}`, like a `set`, but notice that keys and values are associated with each other using a colon `:`. Each pair is separated from the next using a comma `,`.

```python
dict1 = {
    "department": "quindio", 
    "property_type": "house", 
    "price_usd": 330899.98
}
```

**Binary** (`bytes`, `bytearray`, `memoryview`)**:**
- Used to manipulate and display binary data. That is, data that can be expressed with integers represented with base 2.
- Unlike the other data types described above, `binary` types are not human-readable.

# Lists

In Python, a **list** is a collection of data that stores multiple items in a single variable. These items must be ordered, able to be changed, and can be duplicated. A list can store data of multiple types; not all the items in the list need to be the same type.

## Creating Lists
Lists can be as long or as short as you like. Let's create a short list based on data from the Colombian real estate market to give us something to work with.

Lists are written with square brackets. Code for a short list that shows the price of houses in US dollars looks like this:

In [12]:
price_usd = [97919.38, 300511.20, 293758.14]
print(price_usd)

[97919.38, 300511.2, 293758.14]

## Working with Lists
After you've created a list, you can **access** any item on the list by referring to the item's index number. Keep in mind that in Python, the first item in a list is always 0. 

Let's access the second item of our `price_usd` list.

In [13]:
print(price_usd[1])

300511.2

<font size="+1">Practice</font>

Try it yourself! Create and print a list that shows the area of the houses, called `area_m2`. Include the items `187.0`, `82.0`, and `235.0`.

In [14]:
area_m2 = [187.0, 82.0, 235.0]
print(area_m2)

[187.0, 82.0, 235.0]

If we want to access the an item at the end of the list, we can use **negative indexing**. In negative indexing, -1 refers to the last item, -2 to the second to last, and so on. 

Let's access the last item in our `department` list.

In [15]:
print(price_usd[-1])

293758.14

<font size="+1">Practice</font>

Try accessing the second item in your `area_m2` list.

In [16]:
area_m2[1]

82.0

Try accessing the last item in the same list.

In [17]:
print(area_m2[-1])

235.0

### Appending Items
It's also possible to add an item to a list that already exists using the  `append` method like this:

In [20]:
price_usd.append(540244.86)
print(price_usd)

[97919.38, 300511.2, 293758.14, 540244.86, 540244.86]

<font size="+1">Practice</font>

Add the item `195.0` to your `area_m2` list.

In [19]:
area_m2.append(195.0)
print(area_m2)

[187.0, 82.0, 235.0, 195.0]

### Aggregating Items

We can also **aggregate** items on a list to make analyzing the list more useful. For example, if we wanted to know the total value in US dollars of the houses on our `price_usd` list, we could use the `sum` method.