In [1]:
1+1

2

In [2]:
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

houses_nested_list

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

In [3]:
print(houses_nested_list)

[[115910.26, 128.0, 4.0], [48718.17, 210.0, 3.0], [28977.56, 58.0, 2.0], [36932.27, 79.0, 3.0], [83903.51, 111.0, 3.0]]

In [4]:
houses_nested_list

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0]]

In [5]:
houses_nested_list[0][0]

115910.26

In [6]:
houses_nested_list[x][0]

NameError: name 'x' is not defined

In [7]:
for houses_nested_list in

SyntaxError: invalid syntax (3328433075.py, line 1)

In [8]:
houses_nested_list[0][0]

115910.26

In [24]:
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

for x in houses_nested_list:
    M = x[0] / x[1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [22]:
for x in houses_nested_list:
    print(x[0])

115910.26
48718.17
28977.56
36932.27
83903.51

In [8]:
for x in houses_nested_list:
    area_m2 = x[0] / x[1]
area_m2

TypeError: 'float' object is not subscriptable

In [25]:
houses_nested_list.append(area_m2)
houses_nested_list

[[115910.26, 128.0, 4.0],
 [48718.17, 210.0, 3.0],
 [28977.56, 58.0, 2.0],
 [36932.27, 79.0, 3.0],
 [83903.51, 111.0, 3.0],
 755.8874774774774]

In [38]:
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]

for x in houses_nested_list:
    price_m2 = x [0] / x [1]
    print(price_m2)
    x.append(price_m2)

houses_nested_list

905.54890625
231.9912857142857
499.61310344827587
467.4970886075949
755.8874774774774

[[115910.26, 128.0, 4.0, 905.54890625],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 111.0, 3.0, 755.8874774774774]]

In [42]:
bogota = {
"price_usd": 121,555.09,
"area_m2": 82.0,
"property_type": "house",
}
print(bogota)

SyntaxError: ':' expected after dictionary key (1450384145.py, line 2)

In [55]:
colomdict = {
    "property_type": "house",
    "department": "quindio",
    "area": 235,
    "price_usd": 121778,
}

print(colomdict)

colomdict["price_per_m2"] = colomdict["price_usd"] / colomdict["area"]

colomdict

{'property_type': 'house', 'department': 'quindio', 'area': 235, 'price_usd': 121778}

{'property_type': 'house',
 'department': 'quindio',
 'area': 235,
 'price_usd': 121778,
 'price_per_m2': 518.204255319149}

In [56]:
house_0_dict = {
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}

house_0_dict

{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4}

In [57]:
house_0_dict["price_per_m2"] = house_0_dict["price_aprox_usd"] / house_0_dict["surface_covered_in_m2"]
house_0_dict

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [97]:
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

for x in houses_rowwise:
    x["price_per_m2"] = x["price_aprox_usd"] / x["surface_covered_in_m2"]
houses_rowwise

[{'price_aprox_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_aprox_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_aprox_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_aprox_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_aprox_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [72]:
houses_rowwise = {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    }

houses_rowwise["price_per_m2"] = houses_rowwise["price_aprox_usd"] / houses_rowwise["surface_covered_in_m2"]
houses_rowwise

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [1]:
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

houses_rowwise

[{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_aprox_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_aprox_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_aprox_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_aprox_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [2]:
houses_rowwise

[{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_aprox_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_aprox_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_aprox_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_aprox_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [3]:
for x in houses_rowwise:
    x["price_per_m2"] = x["price_aprox_usd"] / x["surface_covered_in_m2"]

In [4]:
houses_rowwise

[{'price_aprox_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_aprox_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_aprox_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_aprox_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_aprox_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [5]:
houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

houses_rowwise

[{'price_aprox_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_aprox_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_aprox_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_aprox_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_aprox_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [26]:
house_prices = []

for x in houses_rowwise:
    print(x["price_aprox_usd"])
    
    house_prices.append(x["price_aprox_usd"])
    
print(house_prices)

print(sum(house_prices))

print(len(house_prices))

mean_house_price = sum(house_prices) / len(house_prices)

mean_house_price

115910.26
48718.17
28977.56
36932.27
83903.51
[115910.26, 48718.17, 28977.56, 36932.27, 83903.51]
314441.76999999996
5

62888.35399999999

In [20]:
for x in houses_rowwise:
    print(x["price_aprox_usd"])

115910.26
48718.17
28977.56
36932.27
83903.51

In [27]:
houses_columnwise = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [31]:
mean_house_price = sum(houses_columnwise["price_aprox_usd"]) / len(houses_columnwise["price_aprox_usd"])
mean_house_price

62888.35399999999

In [51]:
houses_columnwise = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

In [52]:

price = houses_columnwise["price_aprox_usd"]
area = houses_columnwise["surface_covered_in_m2"]

price_per_m2 = []

list(zip(price,area))

for p,a in zip(price,area):
    price_m2 = p / a
    price_per_m2.append(price_m2)
    
houses_columnwise["price_per_m2"] = price_per_m2

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

In [53]:
import pandas as pd

data = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

df_houses = pd.DataFrame(data)

df_houses

   price_aprox_usd  surface_covered_in_m2  rooms
0        115910.26                  128.0    4.0
1         48718.17                  210.0    3.0
2         28977.56                   58.0    2.0
3         36932.27                   79.0    3.0
4         83903.51                  111.0    3.0